name: NodeJs with Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Load environment
      uses: GuillaumeFalourd/convert-json-to-env@v1
      with:
        json_file: ./config/module.config.json

    - name: Build Pad
      run: |
        npm install
        npm run build:pad

    - name: Upload Pad Release Zip
      uses: actions/upload-artifact@v4
      with:
        name: pad-${{ env.VERSION }}
        path: "dist/**"
        overwrite: true

    - name: Build Fold
      run: |
        npm run build:fold

    - name: Upload Fold Release Zip
      uses: actions/upload-artifact@v4
      with:
        name: fold-${{ env.VERSION }}
        path: "dist/**"
        overwrite: true

    - name: Build Ext Pad
      run: |
        npm run build-ext:pad

    - name: Upload Ext Pad Release Zip
      uses: actions/upload-artifact@v4
      with:
        name: pad-ext-${{ env.VERSION }}
        path: "dist/**"
        overwrite: true
        
    # - name: Build Pad Compatibility Use YudiDeviceCode
    #   run: |
    #       npm run build:pad-compatibility=yudi-device-code
  
    # - name: Upload Pad Compatibility Use YudiDeviceCode Release Zip
    #   uses: actions/upload-artifact@v4
    #   with:
    #       name: pad-yudi-device-code-${{ env.VERSION }}
    #       path: "dist/**"
    #       overwrite: true

    # - name: Build Pad Compatibility Use ShengDeviceCode
    #   run: |
    #       npm run build:pad-compatibility=sheng-device-code
  
    # - name: Upload Pad Compatibility Use ShengDeviceCode Release Zip
    #   uses: actions/upload-artifact@v4
    #   with:
    #       name: pad-sheng-device-code-${{ env.VERSION }}
    #       path: "dist/**"
    #       overwrite: true

    - name: Build Pad Mode Use MagicWindow
      run: |
          npm run build:pad-mode=magicWindow
  
    - name: Upload Pad Mode Use MagicWindow Release Zip
      uses: actions/upload-artifact@v4
      with:
          name: pad-magicWindow-${{ env.VERSION }}
          path: "dist/**"
          overwrite: true

    - name: Build Pad Compatibility Use GeneralUpsideDownCake
      run: |
          npm run build:pad-compatibility=general-upsideDownCake
  
    - name: Upload Pad Compatibility Use GeneralUpsideDownCake Release Zip
      uses: actions/upload-artifact@v4
      with:
          name: general-upsideDownCake-${{ env.VERSION }}
          path: "dist/**"
          overwrite: true
  
    - name: Build Pad Compatibility Use GeneralTiramisu
      run: |
          npm run build:pad-compatibility=general-tiramisu
  
    - name: Upload Pad Compatibility Use GeneralTiramisu Release Zip
      uses: actions/upload-artifact@v4
      with:
          name: general-tiramisu-${{ env.VERSION }}
          path: "dist/**"
          overwrite: true

    - name: Build Pad Compatibility Use HyperOSBasedOnTiramisu
      run: |
          npm run build:pad-compatibility=hyperos-based-on-tiramisu
  
    - name: Upload Pad Compatibility Use HyperOSBasedOnTiramisu Release Zip
      uses: actions/upload-artifact@v4
      with:
          name: pad-hyperos-based-on-tiramisu-${{ env.VERSION }}
          path: "dist/**"
          overwrite: true

    - name: Build Pad Compatibility Use MIUI14BasedOnTiramisu
      run: |
          npm run build:pad-compatibility=miui-based-on-tiramisu
  
    - name: Upload Pad Compatibility Use MIUI14BasedOnTiramisu Release Zip
      uses: actions/upload-artifact@v4
      with:
          name: pad-miui-based-on-tiramisu-${{ env.VERSION }}
          path: "dist/**"
          overwrite: true

    # - name: Build Pad Compatibility Use PipaDeviceCode
    #   run: |
    #       npm run build:pad-compatibility=pipa-device-code
  
    # - name: Upload Pad Compatibility Use PipaDeviceCode Release Zip
    #   uses: actions/upload-artifact@v4
    #   with:
    #       name: pad-pipa-device-code-${{ env.VERSION }}
    #       path: "dist/**"
    #       overwrite: true

    - name: Build Pad Compatibility Use HyperOS1BasedOnUpsideDownCake
      run: |
          npm run build:pad-compatibility=hyperos1-based-on-upsideDownCake
  
    - name: Upload Pad Compatibility Use HyperOS1BasedOnUpsideDownCake Release Zip
      uses: actions/upload-artifact@v4
      with:
          name: pad-hyperos1-based-on-upsideDownCake-${{ env.VERSION }}
          path: "dist/**"
          overwrite: true

    # - name: Build Pad Compatibility Use DaguDeviceCode
    #   run: |
    #       npm run build:pad-compatibility=dagu-device-code
  
    # - name: Upload Pad Compatibility Use DaguDeviceCode Release Zip
    #   uses: actions/upload-artifact@v4
    #   with:
    #       name: pad-dagu-device-code-${{ env.VERSION }}
    #       path: "dist/**"
    #       overwrite: true